<div class="card">
  <table class="table table-hover shopping-cart-wrap">
  <thead class="text-muted">
  <tr>
    <th scope="col">Meterials (Cart)</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>
    <figure class="media">
      <figcaption class="media-body">
        <h6 class="title text-truncate">Peete Te Koop</h6>
        <dl class="param param-inline small">
          <dt>ISBN: 92929292928 </dt>
          <dd>Author: Name</dd>
        </dl>
        <dl class="param param-inline small">
          <dt>Page Range: 19-92 </dt>
          <dt>Copies: 200 </dt>
        </dl>
      </figcaption>
    </figure> 
      </td>
    </tr>
  </table>
  <button type="button" class="btn btn-success">Complete Request</button>
</div>