<h3 class="">Enter the title ISBN of book, journal or magazine to find materials to licenses. <br> Hit Search and you are off!</h3>
<div>
<!-- Search form -->
<form class="form-inline md-form form-sm active-cyan-2 mt-2">
   <input #search id="search" class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
     aria-label="Search">
   <i class="fas fa-search" aria-hidden="true"></i>
   <button class="btn btn-elegant btn-rounded btn-sm my-0" (click)="OnSearch(search.value)">Search</button>
 </form>
    
</div>





<div *ngIf="books" id="f">
 <div class="container">

    <div class="col-md-2 results-container" *ngFor="let book of books" [routerLink]="['/search', book.volumeInfo.industryIdentifiers[0].identifier]">
       {{book.volumeInfo.title}}
       <p *ngIf="book.volumeInfo.imageLinks"><img src={{book.volumeInfo.imageLinks.smallThumbnail}} /></p>
    </div>
  
 </div>
</div>